.nav-treeview {
    background-color: #f4f6f942 !important;
}

.nav-sidebar .nav-item>.nav-link
{
    margin-bottom: 0rem;
}


/* Add this rule to change the background color of select2-selection__choice */
.select2-selection__choice {
    background-color: #0ac432  !important;
}
